body {
  padding: 2em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: auto;
}

a {
  color: #00b7ff;
}

li {
  margin: 10px;
}

#pagination {
  display: flex;
  justify-content: center;
}

#pagination a {
  margin: 10px;
}
